/* HEADER */
.container {
    display: flex;
    margin-top: 5%;
}
a.index:link {
    text-decoration: none;
    color: black;
    font-size: 2vw;
}
a.index:hover {
    background-color: rgba(201, 15, 201, 0.692);
    border-radius: 5px; 
}
a.about:link {
    text-decoration: none;
    background-color: rgba(201, 15, 201, 0.692);
    border-radius: 7px;
    color: black;
    margin-left: 65vw;
    font-size: 2vw;
    padding: .3%;
    
}
a.about:hover {
    background-color: rgba(201, 15, 201, 0.429);
}
a.portfolio:link {
    text-decoration: none;
    background-color: rgba(201, 15, 201, 0.692);
    border-radius: 7px;
    color: black;
    margin-left: 2vw;
    font-size: 2vw;
    padding: 1%;
}
a.portfolio:hover {
    background-color: rgba(201, 15, 201, 0.429);
}
/* BODY */
body {
    background-color: rgba(234, 181, 234, 0.726);
}
h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
}
.indexImage {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    position: relative;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 2px solid #c90fc9b0;
}
hr {
    border: 5px solid rgba(87, 9, 151, 0.692);
    border-radius: 5px;
}
.qoute {
    text-align: center;
    font-size: 2vw;
}
.gallery-container {
    display: flex;
}
img {
    width: 20vw;
    height: 20vw;
    position: relative;
    border-radius: 10%;
    margin: 2%;
}
.description {
    margin-left: 2%;
}

/* FOOTER */
footer {
    text-align: center;
    display: block;
    background-color: white;
}
a.footer:link {
    text-decoration: none;
    color: black;
}